%h2 Details about #{@movie.title}

%ul#details
  %li
    Rating:
    = @movie.rating
  %li
    Released on:
    = @movie.release_date.strftime("%B %d, %Y")

%h3 Description:

%p#description= @movie.description

%h3 Reviews:
= link_to 'Add Review', new_movie_review_path(@movie)
%ul#details
  %li
    Average potatoes:

    - @movie.reviews.each do |review|
      %tr
      %td= review.potatoes

  - @movie.reviews.each do |review|
    %tr
      %td name :
      %td= review.user.name
      %td | comments :
      %tr
        %td= review.comments
        -if @current_user.name == review.user.name
          = link_to 'Edit review', edit_movie_review_path(@movie,review)
          = link_to 'Delete review', movie_review_path(@movie,review), :method => :delete

        <br>


= link_to 'Edit', edit_movie_path(@movie)
= button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to movie list', movies_path